{{!--
使い方
{{> ui/pagination
class=""
}}

--}}
<nav class="pagination {{class}}">

    <a href="#" class="pagination__prev">←</a>

    <ul class="pagination__list">

        <li class="pagination__item">
            <a href="#">1</a>
        </li>

        <li class="pagination__item is-active">
            <span>2</span>
        </li>

        <li class="pagination__item">
            <a href="#">3</a>
        </li>

        <li class="pagination__item">
            <a href="#">4</a>
        </li>

    </ul>

    <a href="#" class="pagination__next">→</a>

</nav>