/* ==================================================
    Utility: overflow
    note:例）hero、モーダル等で使用
================================================== */

.u-overflow-hidden {
    overflow: hidden;
}