/* ==================================================
Breadcrumb
--------------------------------------------------
パンくずリストUI

■用途
--------------------------------------------------
現在のページ階層を表示するナビゲーション。

例
TOP ＞ サービス ＞ LP制作

■設計方針
--------------------------------------------------
・Handlebars化しない
・ページごとに内容が異なるため
・HTMLは各ページに直接記述する
・パンくずは URLと揃える。
例）
/service/web/
なら
TOP > サービス > Web制作


■アクセシビリティ
--------------------------------------------------
nav に aria-label="Breadcrumb" を付与
現在ページには aria-current="page"

■HTML使用例
--------------------------------------------------

<nav class="breadcrumb" aria-label="Breadcrumb">

    <ol class="breadcrumb__list">

        <li class="breadcrumb__item">
        <a href="/" class="breadcrumb__link">TOP</a>
        </li>

        <li class="breadcrumb__item">
        <a href="/service" class="breadcrumb__link">サービス</a>
        </li>

        <li class="breadcrumb__item">
        <span class="breadcrumb__current" aria-current="page">
            LP制作
        </span>
        </li>

    </ol>

</nav>

■構造
--------------------------------------------------

.breadcrumb
    └ breadcrumb__list
        └ breadcrumb__item
        ├ breadcrumb__link
        └ breadcrumb__current

================================================== */

.breadcrumb {
    font-size: var(--font-size-xs);
    color: var(--text-color);
}

/* リスト */

.breadcrumb__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* アイテム */

.breadcrumb__item+.breadcrumb__item::before {
    content: "＞";
    margin: 0 .5em;
    color: #666;
}

/* リンク */

.breadcrumb__link {
    color: #333;
    text-decoration: none;
}

/* 現在ページ */

.breadcrumb__current {
    font-weight: bold;
}