<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="ここにページの説明文を記述します。" />
  <meta name="keywords" content="キーワード1, キーワード2, キーワード3" />
  <meta name="author" content="あなたの名前や会社名" />

  <!-- SNS対策（OGP） -->
  <meta property="og:title" content="ページのタイトル" />
  <meta property="og:description" content="SNSに表示される説明文" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://example.com/" />
  <meta property="og:image" content="https://example.com/ogp-image.jpg" />

  <!-- Twitterカード -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="ページのタイトル" />
  <meta name="twitter:description" content="Twitter用の説明文" />
  <meta name="twitter:image" content="https://example.com/twitter-image.jpg" />

  <title>サンプルページ</title>
  <link rel="icon" href="/favicon.ico" />
</head>

<body>
  {{> header }}
  <main>

  </main>
  {{> footer}}
  <script type="module" src="./main.js"></script>
</body>

</html>