{{!--
◆使い方
{{#> components/form/form}}

{{#> components/form/form-group
label="お名前"
id="name"
required=true
}}

<input
type="text"
id="name"
name="name"
autocomplete="name"
required
class="c-form__control"
/>

{{/components/form/form-group}}

{{#> components/form/form-group
label="メールアドレス"
id="email"
required=true
}}

<input
type="email"
id="email"
name="email"
autocomplete="email"
required
class="c-form__control"
/>

{{/components/form/form-group}}

{{#> components/form/form-group
label="お問い合わせ内容"
id="message"
}}

<textarea id="message" class="c-form__control"></textarea>

{{/components/form/form-group}}


{{#> components/form/form-group
label="お問い合わせ種別"
id="type"
}}

<select id="type" class="c-form__control">
    <option>選択してください</option>
    <option>資料請求</option>
    <option>見積依頼</option>
</select>

{{/components/form/form-group}}

{{/components/form/form}}

--}}

<form class="c-form">

    {{> @partial-block}}

    <div class="c-form__actions">
        <button type="submit" class="c-button c-button--primary">
            送信する
        </button>
    </div>

</form>