@use '../../foundation/import' as *;


/* TOPページのヘッダーのデザイン */
.header--top .header__container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);

    .header__inner {

        .header__text-box {
            height: 100%;

            .header__logo {
                height: 100%;
                margin-top: 22%;
            }

            .header__nav {
                max-height: 50%;
                margin-top: 1%;
                padding-right: 30%; //contact用の一時余白

                li:nth-child(1) {
                    border: var(--sub-color) solid 1px;
                    background: var(--sub-color);
                    aspect-ratio: 2/1.2;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    letter-spacing: 0.08em;
                }

                li:nth-child(2) {
                    border: var(--main-color) solid 1px;
                    background: var(--main-color);
                    aspect-ratio: 2/1.2;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    letter-spacing: 0.08em;

                }

                li:nth-child(3) {
                    border: var(--accent-color) solid 1px;
                    background: var(--accent-color);
                    aspect-ratio: 2/1.2;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    letter-spacing: 0.08em;

                }

                /*              contact用   
                li:nth-child(4) {
                    border: white solid 1px;
                    background:white;
                } */
            }

            .header__brush {
                width: 100%;
                margin-top: 28%;
                transform: rotate(15deg);
                transition: rotate ease 0.5s;
            }

            .header__brush:hover {
                transform: rotate(20deg);
            }
        }
    }

    .hamburger {
        display: none;
    }

}