<div class="faq">

    <div class="accordion">

        <button class="faq__question accordion__btn" type="button">

            <span class="faq__q">
                {{question}}
            </span>


            <span class="faq__icon">

                <svg class="faq__arrow" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />

                </svg>
            </span>

        </button>

        <div class="faq__answer accordion__content">

            <div class="faq__body">
                <p class="faq__text">
                    {{answer}}
                </p>
            </div>

        </div>

    </div>

</div>