{{!-- 

並べたいロゴを以下に設定
自動でレスポンシブ対応

--}}

<div class="logo-list">

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>
    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="logo-list__item">
        <img src="/images/logo.png" alt="">
    </div>


</div>