<footer class="footer bg-accent">
    <div class="footer__inner l-container-full pt-4">
        <div class="flex items-center justify-center py-2">
            <a href="">
                <p class="color-white">sample</p>
            </a>
            <span class="ml-4 mr-4 color-white">|</span>
            <a href="">
                <p class="color-white">sample</p>
            </a>
            <span class="ml-4 mr-4 color-white">|</span>
            <a href="">
                <p class="color-white">sample</p>
            </a>
        </div>

        <div class="footer__copyright flex justify-center py-2">
            <p>&copy; 2025 YourCompanyName. All rights reserved.</p>
        </div>
    </div>
</footer>