<header class="l-header flex items-center">
    <div class="header__container l-container flex items-center px-6 bg-sub">
        <div class="header__inner flex w-full l-row l-row--gap">
            <div class="l-column l-column--4">
                <a href="/" class="header__logo block flex items-center"><img src="/assets/image/logo.png" alt="ロゴ名" /></a>
            </div>
            <!-- メニュー -->
            <!-- PCナビ -->
            <nav class="header__nav pc-nav l-column l-column--8">
                <ul class="header__nav-inner l-row items-center font-bold">
                    <li class="header__text l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="header__text l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="l-column l-column--3">
                        <Button href="リンク" class="header__btn btn btn--primary">
                            <span>ボタンテキスト</span>
                        </Button>
                    </li>
                </ul>
            </nav>


            <!-- ハンバーガーボタン（SP用） -->
            <button class="hamburger openbtn" aria-label="メニューを開く">
                <span></span><span></span><span></span>
            </button>

            <!-- スマホナビ -->
            <nav id="global-nav" class="sp-nav font-bold">
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li> <a href="">sample</a></li>
                    <li> <a href="">sample</a></li>
                    <li> <a href="">sample</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>